/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    padding: 20px;
    text-align: center;
}

.summary, .driver-info, .feedback {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.driver-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.driver-photo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 5px solid #00FFFF; /* Azul neón */
}

.driver-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.driver-description {
    flex: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2.5em; /* Tamaño más grande para las estrellas */
    color: #ccc;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Borde sombreado */
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

/* Modal styles */
/* styles.css */

/* ... otros estilos ... */

/* Modal styles */
#modalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 2px solid #00FFFF; /* Azul neón más delgado */
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Ensure it doesn't exceed the main container */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado */
}

.modal-content {
    margin: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ... otros estilos ... */


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 600px) {
    .summary, .driver-info, .feedback {
        width: 90%;
    }
}
